dep	{"stroke": "#bf7b3f","stroke-width":"1","stroke-dasharray": ""}
spe	{"stroke": "#bf7b3f","stroke-width":"1","stroke-dasharray": ""}
comp	{"stroke": "#000000","stroke-width":"1","stroke-dasharray": ""}
ad	{"stroke": "#000000","stroke-width":"1","stroke-dasharray": ""}
suj	{"stroke": "#000000","stroke-width":"1","stroke-dasharray": ""}
root	{"stroke": "#000000","stroke-width":"1","stroke-dasharray": ""}
aff	{"stroke": "#000000","stroke-width":"1","stroke-dasharray": ""}
aux	{"stroke": "#000000","stroke-width":"1","stroke-dasharray": ""}
para	{"stroke": "#01949b","stroke-width":"1","stroke-dasharray": ""}
mark	{"stroke": "#43bf3f","stroke-width":"1","stroke-dasharray": ""}
dm	{"stroke": "#a94ac7","stroke-width":"1","stroke-dasharray": ""}
periph	{"stroke": "#a94ac7","stroke-width":"1","stroke-dasharray": ""}
morph	{"stroke": "#bfbd3f","stroke-width":"1","stroke-dasharray": ""}
disflink	{"stroke": "#cc1225","stroke-width":"1","stroke-dasharray": ""}

