AD	{"fill": "#69399d"}
AS	{"fill": "#69399d"}
CC	{"fill": "#69399d"}
CD	{"fill": "#69399d"}
CS	{"fill": "#69399d"}
DEC	{"fill": "#69399d"}
DEG	{"fill": "#69399d"}
DT	{"fill": "#69399d"}
ETC	{"fill": "#69399d"}
IJ	{"fill": "#69399d"}
JJ	{"fill": "#69399d"}
LB	{"fill": "#69399d"}
LC	{"fill": "#69399d"}
M	{"fill": "#69399d"}
MSP	{"fill": "#69399d"}
NN	{"fill": "#69399d"}
NR	{"fill": "#69399d"}
NT	{"fill": "#69399d"}
OD	{"fill": "#69399d"}
P	{"fill": "#69399d"}
PN	{"fill": "#69399d"}
PU	{"fill": "#69399d"}
SP	{"fill": "#69399d"}
VA	{"fill": "#69399d"}
VC	{"fill": "#69399d"}
VE	{"fill": "#69399d"}
VV	{"fill": "#69399d"}
