CJTN	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
_	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
advmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
amod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
asp	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
assm	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
assmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
attr	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
cc	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
ccomp	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
clf	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
conj	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
cpm	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
csubj	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
dep	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
det	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
dobj	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
etc	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
exd	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
iobj	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
lccomp	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
lmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
lobj	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
loc	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
mmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
neg	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
nn	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
npadvmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
nsubj	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
nsubjpass	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
nummod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
obl	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
ordmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
pass	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
pccomp	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
plmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
pobj	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
prep	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
prtmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
range	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
rcmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
rcomp	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
root	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
tmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
top	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
vmod	{"stroke": "#000","stroke-width":"1","stroke-dasharray": ""}
attention	{"stroke": "#DD137B","stroke-width":"1","stroke-dasharray": "- "}
