

<html>
<head><title>Arborator</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" href="{{asset}}/css/jquery-ui-1.8.18.custom.css" media="screen" />
<link href="{{asset}}/css/arborator.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="favicon.ico">
<script type="text/javascript" src="{{asset}}/script/jquery.js"></script>
<script type="text/javascript" src="{{asset}}/script/raphael.js"></script>
<script type="text/javascript" src="{{asset}}/script/jquery-ui-1.8.18.custom.min.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11144858-1']);
  _gaq.push(['_setDomainName', '.ilpga.fr']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
var BrowserDetect = {
	init: function () {
		this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
		this.version = this.searchVersion(navigator.userAgent)
			|| this.searchVersion(navigator.appVersion)
			|| "an unknown version";
		this.OS = this.searchString(this.dataOS) || "an unknown OS";
	},
	searchString: function (data) {
		for (var i=0;i<data.length;i++)	{
			var dataString = data[i].string;
			var dataProp = data[i].prop;
			this.versionSearchString = data[i].versionSearch || data[i].identity;
			if (dataString) {
				if (dataString.indexOf(data[i].subString) != -1)
					return data[i].identity;
			}
			else if (dataProp)
				return data[i].identity;
		}
	},
	searchVersion: function (dataString) {
		var index = dataString.indexOf(this.versionSearchString);
		if (index == -1) return;
		return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
	},
	dataBrowser: [
		{
			string: navigator.userAgent,
			subString: "Chrome",
			identity: "Chrome"
		},
		{ 	string: navigator.userAgent,
			subString: "OmniWeb",
			versionSearch: "OmniWeb/",
			identity: "OmniWeb"
		},
		{
			string: navigator.vendor,
			subString: "Apple",
			identity: "Safari",
			versionSearch: "Version"
		},
		{
			prop: window.opera,
			identity: "Opera",
			versionSearch: "Version"
		},
		{
			string: navigator.vendor,
			subString: "iCab",
			identity: "iCab"
		},
		{
			string: navigator.vendor,
			subString: "KDE",
			identity: "Konqueror"
		},
		{
			string: navigator.userAgent,
			subString: "Firefox",
			identity: "Firefox"
		},
		{
			string: navigator.vendor,
			subString: "Camino",
			identity: "Camino"
		},
		{		// for newer Netscapes (6+)
			string: navigator.userAgent,
			subString: "Netscape",
			identity: "Netscape"
		},
		{
			string: navigator.userAgent,
			subString: "MSIE",
			identity: "Explorer",
			versionSearch: "MSIE"
		},
		{
			string: navigator.userAgent,
			subString: "Gecko",
			identity: "Mozilla",
			versionSearch: "rv"
		},
		{ 		// for older Netscapes (4-)
			string: navigator.userAgent,
			subString: "Mozilla",
			identity: "Netscape",
			versionSearch: "Mozilla"
		}
	],
	dataOS : [
		{
			string: navigator.platform,
			subString: "Win",
			identity: "Windows"
		},
		{
			string: navigator.platform,
			subString: "Mac",
			identity: "Mac"
		},
		{
			   string: navigator.userAgent,
			   subString: "iPhone",
			   identity: "iPhone/iPod"
	    },
		{
			string: navigator.platform,
			subString: "Linux",
			identity: "Linux"
		}
	]

};
BrowserDetect.init();

</script></head>



<body id="body">

<div class="arbortitle fg-toolbar ui-widget-header ui-helper-clearfix">
	<a href='.' style='position: absolute;left:0px;'><img src="{{asset}}/images/arboratorNano.png" border="0"></a>
	<span style='text-align:center;margin:0 auto;position: relative;top:0px;' id='sentinfo'>Welcome to the Arborator website!</span>
</div>


{% if project %}
	<form method="post" action="project.cgi" name="enter" id="enter" class="nav" style="top:4px;right:220px;z-index: 9999;">
	{% if not current_user.is_authenticated %}
	<input type="button" id="ent" name="ent" value="Login" style="width:80px;" class="fg-button ui-state-default ui-corner-all"  onClick="window.location.href='{{ url_for('ulogin', project=project) }}'">
	{% else %}
	<input type="button" id="ent" name="ent" value="Enter" style="width:80px;" class="fg-button ui-state-default ui-corner-all"  onClick="window.location.href='{{ url_for('project', project=project) }}'">
	{% endif %}
	<!--
		<input type="button" id="visit" name="ent" value="Visit" style="width:80px;" class="fg-button ui-state-default ui-corner-all" onClick="window.location.href='visit.cgi'";">  -->

	</form>
	
{% endif %}

<div id="dialog" style="display: none;width:500px" title="Login">
</div>

<div class='center'>
	<div class="ui-widget ui-widget-content ui-corner-all" style="font-size:23px;margin-top:37px;padding:10px">
	
	<div style="text-align:center;">
		<object height="300" width="500" data="{{asset}}/images/arborator.svg" type="image/svg+xml"></object>
	
	

<p style="text-align:center;">The Arborator software is aimed at collaboratively annotating dependency corpora.</p>
	<div class='ui-state-highlight ui-corner-all' style='padding: 1em; margin: 20px;clear: both;'><a href='q.cgi'><img src="{{asset}}/images/q.png" border="0"><br/>Quick access without login:<br/>Simple graphical editor of CoNLL files</a></div>

	<div class="ui-state-highlight ui-corner-all" style="padding-bottom: 1em; margin: 20px;">

{% if project or config.projects|length == 1 %}
	
		this page gives acces to the <b>{{project}}</b> annotation project.<br/>
		<form method="post" action="project.cgi" name="enter" id="enter2">
		C'mon in: Click on <input type="button" id="ent" name="ent" value="{{buttonname}}"  style="font:normal .8em Arial;padding-top: 2px;width:80px;" class="fg-button ui-state-default ui-corner-all"  onClick="window.location.href='{{ url_for('project', project=project) }}'">
		</form>
		{% if config.projects|length >1 %}<p><small><a href='.?project='>For access to other annotation projects on this site click here</a></small></p>
		{% endif %}
{% else %}
	<div>Please choose your annotation project:</div>
	{% for project in config.projects %}
		<div class="ui-widget ui-widget-content ui-corner-all" style="float:left;margin:1.2em;"><p>
			<a href="{{ url_for('project', project=project) }}">{% if project.img %}<img class='project_logo' src='/projects/{{project}}/{{project}}.png' align='top'>{% endif %} {{project}}</a>,
		
		</p></div>
	 {% endfor %}
	<div style="clear: both;"></div>
{% endif %}

</div><div class='ui-state-highlight ui-corner-all' style='padding: 1em; margin: 20px;clear: both;'><a href='https://github.com/kimgerdes/arborator/wiki'>Short usage guide (wiki page)</a></div>
</div></div><br/>
<div class='ui-widget ui-widget-content ui-corner-all' style='padding: 2em; margin-left: 199px; margin-right: 199px;clear: both;text-align:center;position: relative;'>
	<p style="font-size:.7em;margin:1;">
		<img border="0" src="{{asset}}/images/arboratorNano.png" align='middle'>
Arborator is free software.
	</p><br><hr>
	<table style='margin-top:0;width:100%'><tr><td>
	<p style="font-size:.7em;margin:1;">
	<a href="http://www.gnu.org/licenses/agpl-3.0.html">
It is realeased under the 
	</p> <p style="font-size:.7em;margin:1;">
	
		<img src="{{asset}}/images/Affero_General_Public_License_3.png" align='middle'>
licence
	</td>
	
	</tr>
	</table></a></p> <p style="font-size:.7em;margin:1;">   
It can <a href="http://rhapsodie.ilpga.fr/wiki/Arborator#site_administration_and_installation">easily be installed on any Apache server.</a>
	</p><p style="font-size:.7em;margin:1;">
This software relies on your browser's SVG capacity and is written principally for use in the 
	<img border="0" src="{{asset}}/images/firefox.grey.png" align='middle'> 
Firefox browser.
	<br><br>
	<script>
		if (BrowserDetect.browser=="Firefox") document.write("You are using Firefox "+BrowserDetect.version+" on "+BrowserDetect.OS+". Everything should work fine.");
		else if (BrowserDetect.browser=="Chrome") document.write("You are using Chrome "+BrowserDetect.version+" on "+BrowserDetect.OS+". This Browser is not fully tested.");
		else document.write("You are using an unsupported browser ("+BrowserDetect.browser+" "+BrowserDetect.version+" on "+BrowserDetect.OS+"). Arborator is fully functional only on Firefox.");
	</script>
</p>
<br>
<div class="ui-widget ui-widget-content ui-corner-all"  style='
font:italic normal .8em/1em Times, serif;text-align:center;margin:0 auto;padding:1em;'>
	written by <a href='http://gerdes.fr'>Kim Gerdes</a><br/><br/>
	<a href='http://www.univ-paris3.fr/'>Sorbonne nouvelle</a>,
	<a href='http://ilpga.fr/'>ILPGA</a>,
	<a href='http://lpp.univ-paris3.fr/'>LPP</a>
	(<a href='http://lpp.univ-paris3.fr/'>CNRS</a>)
	
	<br><br>
	
	<a href="https://github.com/kimgerdes/arborator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{asset}}/images/forkme.png" alt="Fork me on GitHub"></a>

</div>
</div>




 <br><br>
{% if current_user.is_authenticated %}
<div class="arborfoot fg-toolbar ui-widget-header ui-helper-clearfix">
{% if current_user.username == 'guest' %}
logged in as guest
&nbsp;&nbsp;&nbsp;<a href="{{url_for('logout')}}">logout</a>

{% else %}
		
		&nbsp;&nbsp;&nbsp;<a href="goto/editaccount">edit the account {{current_user.username}}</a>
	{% if current_user.adminLevel > 1 %}&nbsp;&nbsp;&nbsp;<a href="goto?login=admin">User Administration</a> 
	&nbsp;&nbsp;&nbsp;<a href="admin.cgi">Corpus Administration</a>
	{% endif %}
{% endif %}
</div>
{% endif %}


</body></html>
