V	{"fill": "#69399d"}
N	{"fill": "#69399d"}
Adj	{"fill": "#69399d"}
PP	{"fill": "#69399d"}
Cl	{"fill": "#69399d"}
Qu	{"fill": "#69399d"}
Pro	{"fill": "#69399d"}
D	{"fill": "#69399d"}
Adv	{"fill": "#69399d"}
Pre 	{"fill": "#69399d"}
J	{"fill": "#69399d"}
I	{"fill": "#69399d"}
CS	{"fill": "#69399d"}
X	{"fill": "#69399d"}