N dep
N2 dep
Nc2 dep
Np2 dep
ncpred obj
PP dep
S attention
SubS dep
adjP dep
coord3 dep
csu obj
impsubj sub
object obj
preparg obl
prep obl
pri obj
subject sub
v ad
V attention
vmod ad
xcomp attention
aux pred
V1 ad
siwh obl
causative_prep obl
siwh obj
predet_ante dep
predet_post dep
de dep
adj dep
csu obj
time_mod ad
SubS obj
adjP dep
PP dep
supermod dep
que dep
cll ad
clr obl
clneg ad
adv dep
SRel dep
comp pred
det dep
CleftQue attention
Infl attention

