dep	{"stroke": "#000000","stroke-width":"1"}
sub	{"stroke": "#000000","stroke-width":"1"}
pred	{"stroke": "#000000","stroke-width":"1"}
obj	{"stroke": "#000000","stroke-width":"1"}
obl	{"stroke": "#000000","stroke-width":"1"}
ad	{"stroke": "#000000","stroke-width":"1"}
root	{"stroke": "#000000","stroke-width":"1"}
para	{"stroke": "#01949B","stroke-width":"1"}
junc	{"stroke": "#00C618","stroke-width":"1"}
dep_inherited	{"stroke": "#999999","stroke-width":"1","stroke-dasharray": ". "}
sub_inherited	{"stroke": "#999999","stroke-width":"1","stroke-dasharray": ". "}
pred_inherited	{"stroke": "#999999","stroke-width":"1","stroke-dasharray": ". "}
obj_inherited	{"stroke": "#999999","stroke-width":"1","stroke-dasharray": ". "}
obl_inherited	{"stroke": "#999999","stroke-width":"1","stroke-dasharray": ". "}
ad_inherited	{"stroke": "#999999","stroke-width":"1","stroke-dasharray": ". "}
root_inherited	{"stroke": "#999999","stroke-width":"1","stroke-dasharray": ". "}
junc_inherited	{"stroke": "#999999","stroke-width":"1","stroke-dasharray": ". "}
para_coord	{"stroke": "#1437AD","stroke-width":"1"}
para_hyper	{"stroke": "#1437AD","stroke-width":"1"}
para_intens	{"stroke": "#1437AD","stroke-width":"1"}
para_disfl	{"stroke": "#1437AD","stroke-width":"1"}
para_reform	{"stroke": "#1437AD","stroke-width":"1"}
para_dform	{"stroke": "#1437AD","stroke-width":"1"}
para_negot	{"stroke": "#1437AD","stroke-width":"1"}
attention	{"stroke": "#DD137B","stroke-width":"1","stroke-dasharray": "- "}


