/UD.cmnParsed_4.Rafael75.trees.conll10
/UD.cmnParsed_4.Rafael75.valid..complete.conll10
/UD.cmnParsed_4.ermanh.trees.conll10
/UD.cmnParsed_4.ermanh.valid..complete.conll10
/UD.cmnParsed_4.parser.trees.conll10
/UD.mandarinParsed.0.Rafael75.trees.rhaps.xml
/UD.mandarinParsed.0.ermanh.trees.rhaps.xml
/UD.mandarinParsed.0.ermanh.valid..complete.conll10
/UD.mandarinParsed.0.ermanh2.trees.rhaps.xml
/UD.mandarinParsed.0.most.recent.trees.conll10
/UD.mandarinParsed.0.parser.trees.rhaps.xml
/UD.mandarinParsed.0.wongtaksum.trees.rhaps.xml
/UD.mandarinParsed.2.Rafael75.trees.conll10
/UD.mandarinParsed.2.Rafael75.valid..complete.conll10
/UD.mandarinParsed.2.ermanh.trees.conll10
/UD.mandarinParsed.2.ermanh.valid..complete.conll10
/UD.mandarinParsed.2.most.recent.trees.conll10
/UD.mandarinParsed.2.parser.trees.conll10
/UD.mandarinParsed.3.Rafael75.trees.conll10
/UD.mandarinParsed.3.Rafael75.valid..complete.conll10
/UD.mandarinParsed.3.ermanh.trees.conll10
/UD.mandarinParsed.3.ermanh.valid..complete.conll10
/UD.mandarinParsed.3.most.recent.trees.conll10
/UD.mandarinParsed.3.parser.trees.conll10
